
.box{
	width: 100px;
	height: 100px;
}
.blue{
	background-color: blue;
}
.red{
	background-color: red;
	margin: 50px;
}

.green{
	background-color: green;
	padding: 50px;
}
.black{
	background-color: black;
	border: 10px solid skyblue;
}

.frame{
	width: 100%;
	height: 450px;
}

h2{
	color: red;
}

 .span{
 	color: blue;
}